doctype html
html
    head
        meta(charset='utf8')
        meta(language='FR')
        meta(author='Ronald MARCEL')
        link(href='/build/css/' type='css/text' rel='stylesheet' )
        body
            .page
                section.presentation
                section.experience
                section.formation
                section.skill
