//Font Google
@import 'https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Oswald:300,400,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i';

//Variables
$title: Oswald, sans-serif;
$default: Raleway, sans-serif;
$subtitle: Dosis, sans-serif;
$saumon: #FA4444;
$gray: #666666;
$heart: #EAE6E3;
$small_font: 12px;
//#e95325;
//Mixins

//Styles
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    font-family: $default;
    font-weight: normal;
    //background-color: aqua;
}
.wrapper{
    height: auto;
}
.page{
    min-height: 100%;
    height: auto !important;
    width: 960px;
    background-color: $heart;
    margin:{
        left: auto;
        right: auto;
        }
}
ul, li,{
    text-decoration: none;
    list-style: none;
}
h1{
    font-family: $title;
    font-weight: 300;
}
h2,h3,h4{
    font-family: $subtitle;
    font-weight: normal;
    color: black;
}
h2{
    font-size: 25px;
    font-weight: 300;
}
h3{
    font-size: 18px;
    font-weight: 300;
    color: $saumon;
}
p, li{
    font-size: $small_font;
}
.graphic_identity {
    background-color: black;
    height-min: 100%;
    height: 100%!important;
}
.container-photo{
    border-radius: 50%;
    background-color: red;
    height: 50px;
    width: 50px;
}
.intitule_experience {
    border-right: 1px solid black;
}
.experience{
        background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.first_box{
    margin-bottom: 100px;
    margin-top: 20px;
}